In [ ]:
INTRODUCTION TO list datatype:

In [ ]:
defination of list: A list is a collection of items in a particular order.
    
classification : A list is classified as a mutable datatype.
        
how to define the list datatype ----> [] -----> Square bracket.

In [ ]:
Example:

In [1]:
students = ['chand','kumar','jyothi','aayushi','deepak'] #0,1,2,3,4,5,6

In [2]:
print(students)

['chand', 'kumar', 'jyothi', 'aayushi', 'deepak']

In [ ]:
how to retrive the elements? here the names are elements.

In [ ]:
req ; i want to get jyothi name from the above list in the output?

In [ ]:
introduction to indexing is 0,1,2,3.....

In [3]:
print(students[2])

jyothi

In [4]:
print(students[3])

aayushi

In [ ]:
introduction to list methods :

In [ ]:
1. how to add a new element in the list. ----> append,insert.
2. how to replace a element in the list. ----> indexing.
3. how to delete an element from the list.

In [5]:
print(students)

['chand', 'kumar', 'jyothi', 'aayushi', 'deepak']

In [6]:
type(students)

list

In [ ]:
1. Req : i want to add ali in the list.

In [8]:
students.append('ali')

In [9]:
print(students)

['chand', 'kumar', 'jyothi', 'aayushi', 'deepak', 'ali']

*** Req : i want to add ashnal @ 0 position.

In [10]:
students.insert(0,'ashnal')

In [11]:
print(students)

['ashnal', 'chand', 'kumar', 'jyothi', 'aayushi', 'deepak', 'ali']

In [ ]:
Interview question : what is difference btw append vs insert.

In [ ]:
2.Req : i want to replace faizan in place of kumar.

In [12]:
students[2] = 'faizan'

In [13]:
print(students)

['ashnal', 'chand', 'faizan', 'jyothi', 'aayushi', 'deepak', 'ali']

In [ ]:
3. Req : i want DELETE jyothi from the list.

In [14]:
del students[3]

In [15]:
print(students)

['ashnal', 'chand', 'faizan', 'aayushi', 'deepak', 'ali']