In [ ]:
Introduction to tuple.

In [ ]:
Defination : A tuple is a immutable datatype.(we are not allowed to edit the data here once declared...)
    
Classification : Immutable datatype.
    
declaration :   --->()----->normal brackets.

In [2]:
Students = ('fathima','kumar','kushal','arshad')

In [3]:
print(Students)

('fathima', 'kumar', 'kushal', 'arshad')

In [5]:
 type(Students)

tuple

In [ ]:
String------> ''," ",""" """.

list -----> []----->square brackets


dict ------> {}----->flower brackets.


tuple---->()----->normal brackets.

In [ ]:
Req; i want to change name kumar----rajshekar.

In [6]:
Students[1]='rajshekar' # as the error says it cannot be changed.

TypeError: 'tuple' object does not support item assignment

In [ ]:
in what areas the tuple datatypes is useful or used---?

fixed areas or where data is fixed.

In [13]:
dimension=(220,50) #l=250 , b=50

In [ ]:
req: 250----->200

In [9]:
dimension[1]=200

TypeError: 'tuple' object does not support item assignment

In [11]:
dimension=(200,50) # rebuilding not editing..
print(dimension)

(200, 50)

In [12]:
print(dimension[0])

200

In [ ]:
Note : tuple is a least usage datatype.

In [ ]:
indexing,for loops and the slicing...all other except editing the data will work.

In [15]:
print(Students)

('fathima', 'kumar', 'kushal', 'arshad')

In [16]:
for x in Students: #for loops....
    print(x)

fathima
kumar
kushal
arshad

In [17]:
print(Students[2]) # indexing.

kushal